// colors
$color-sea-green: #20894C;
$color-dark-spring-green: #1A7440;
$color-jaguar: #272728;
$color-maire: #292721;
$color-nero: #272626;
$color-bokara-grey: #2B2A29;
$color-blue-charcoal: #24292D;
$color-outrageous-orange: #F0632B;
$color-harley-davidson-orange: #DB4A1A;
$color-rose-white: #FFF0EA;
$color-provincial-pink: #FFE2D7;
$color-white: #FFFFFF;
$color-black: #000000;
$color-porcelain: #E1E0DF;
$color-light-grey: #D6D6D6;
$color-whisper: #EAEAEA;
$transparent: rgba(0, 0, 0, 0);

//fonts
$ff-tt-norms: "TT Norms", "Arial", sans-serif;
$ff-onest: "Onest", "Arial", sans-serif;
$ff-raleway: "Raleway", "Arial", sans-serif;

// viewports
$vp-768: 768px;
$vp-1440: 1440px;